[submodule "nutripae-auth"]
	path = nutripae-auth
	url = git@github.com:Team-Aguila/nutripae-auth.git
	branch = main
[submodule "nutripae-recursos-humanos"]
	path = nutripae-recursos-humanos
	url = git@github.com:Team-Aguila/nutripae-recursos-humanos.git
	branch = main
[submodule "nutripae-cobertura"]
	path = nutripae-cobertura
	url = git@github.com:Team-Aguila/nutripae-cobertura.git
	branch = main
[submodule "nutripae-observabilidad"]
	path = nutripae-observabilidad
	url = git@github.com:Team-Aguila/nutripae-observabilidad.git
	branch = main
[submodule "nutripae-compras"]
	path = nutripae-compras
	url = git@github.com:Team-Aguila/nutripae-compras.git
	branch = main
[submodule "nutripae-front"]
	path = nutripae-front
	url = git@github.com:Team-Aguila/nutripae-front.git
	branch = main
